<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav id="navMenu">
  <ul>
    <li><a class="menuItem" href="/home">Home</a></li>
    <li><a class="menuItem" href="/services">Services</a></li>
    <li><a class="menuItem" href="/project">Projects</a></li>
    <li><a class="menuItem" href="contact">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>