<div class="resume">
    <div class="personalInfo">
        <h1>Samuel McMasters</h1>
        <address>(740)509-2061<br>sammcmasters96@gmail.com<br><br>155 Blue Oasis Dr<br>Apt 102<br>Deland, FL 32725
        </address>
    </div>

    <div class="summary">
        <h2>Summary</h2>
        <p>Dedicated IT leader with comprehensive systems administration and information security experience. Proactive
            in implementing updates and solutions with minimal downtime and adept at troubleshooting technical issues
            resulting in quick resolutions.</p>
    </div>

    <div class="education">
        <h2>Education</h2>
        <p>Western Governors University <span class="educationDates">Anticipated Graduation: May 2024</span><br>Bachelor
            of Science, Software Engineering</p>
    </div>

    <div class="experience">
        <h2>Experience</h2>
        <p>High Reach 2 <span class="employmentDates">09/2018 - Present</span></p>
        <ul>
            <li>Support end users with software issues, training request, or suggested enhancements.</li>
            <li>Troubleshoot software and identify root causes of software problems.</li>
            <li>Review and update service policies and procedures to safeguard critical systems, information, and data.
            </li>
        </ul>
    </div>
    <div></div>

</div>